<!DOCTYPE html>
<html lang="en" ng-app="myPersonApp">
	<head>
		<title>TheNetNinja Angular Playlist</title>
		<link href="content/css/styles.css" rel="stylesheet" type="text/css" />
		<script src="node_modules\angular\angular.min.js"></script>
		<script src="app/app.js"></script>
	</head>
	<body>
		<header ng-include="'header.html'"></header>
		<div class="content">
			<div ng-controller="PersonController">
				<button ng-click="order = 'name'">Order By Name</button>
				<button ng-click="order = 'color'">Order By Color</button>
				<input type="text" ng-model="search" />
				<ul>
					<li ng-repeat="person in persons | orderBy: order | filter: search" ng-show="person.available">
						<img ng-src="{{person.thumb}}" style="margin: -12px 10px 0 0; float: left; width: 50px" ng-show="person.thumb" />
						<h3>{{person.name}} - {{person.weight | currency: 'RM '}}</h3>
						<div class="remove" ng-click="removePerson(person)">x</div>
						<span class="belt" style="background: {{person.color}}">{{person.color}}</span>
					</li>
				</ul>
				<form ng-submit="addPerson()">
					<input type="text" placeholder="name" ng-model="newPerson.name" />
					<input type="text" placeholder="color" ng-model="newPerson.color" />
					<input type="text" placeholder="weight" ng-model="newPerson.weight" />
					<input type="submit" value="Add New Person" />
				</form>
			</div>
		</div>
	</body>
</html>
