<!DOCTYPE html>
<html lang="en" ng-app="myPersonApp">
	<head>
		<title>TheNetNinja Angular Playlist</title>
		<link href="content/css/styles.css" rel="stylesheet" type="text/css" />
		<script src="node_modules\angular\angular.min.js"></script>
		<script src="app/app.js"></script>
	</head>
	<body>
		<header ng-include="'header.html'"></header>
		<div class="content">
			<div ng-controller="PersonController">
				<p>{{message}}</p>
				<input type="text" ng-model="search" />
				<ul>
					<li ng-repeat="person in persons | orderBy: '-name' | filter: search" ng-show="person.available">
						{{person.name}} - {{person.weight | currency: 'RM '}}
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
